.CapaDetalhesModal {
  font-family: 'Exo';
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px 0px 10px 10px;
  max-height: 350px;
  box-sizing: border-box;
  width: 315px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.CapaDetalhesModal > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.CapaDetalhesModal__album {
  font-size: 2em;
  font-weight: 700;
  line-height: 100%;
}

.CapaDetalhesModal__descricao {
  font-size: 1em;
}

.CapaDetalhesModal__ano {
  color: rgb(167, 154, 3);
  font-size: 2.5em;
}

.CapaDetalhesModal__foto {
  margin-right: -100px;
  z-index: 0;
}

@media (max-width: 400px) {
  .CapaDetalhesModal {
    width: 210px;
    height: 100vh;
  }

  .CapaDetalhesModal__foto {
    height: 250px;
    margin-top: 50px;
    margin-right: -100px;
  }

  .CapaDetalhesModal__ano {
    font-size: 2em;
  }

  .CapaDetalhesModal__artista {
    font-size: 1.5em;
  }

  .CapaDetalhesModal__descricao {
    font-size: 0.9em;
  }
}
