@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  background-color: rgb(0, 151, 159);
  font-family: sans-serif;
}
